<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="index">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goods">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>商品</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopcar">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>购物车</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="person">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
