<ion-header>
  <ion-toolbar>
    <ion-title>item长条组件</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item><ion-label>长条组件1</ion-label></ion-item>
  <ion-item><ion-label>长条组件-超长文本超长文本超长文本超长文本超长文本超长文本超长文本</ion-label></ion-item>
  <ion-item button><ion-label>长条组件2-button可点击</ion-label></ion-item>
  <ion-item input><ion-label>长条组件3-配合输入框</ion-label><ion-input></ion-input></ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://ionicframework.com/docs/assets/icons/feature-component-search-icon.png" />
    </ion-avatar>
    <ion-label>
      <h2>fuzhihui</h2>
      <p>我师父智慧少时诵诗书</p>
    </ion-label>
    <ion-badge>99+</ion-badge>
  </ion-item>
  <ion-item-group>
    <ion-item-divider color="light"><ion-label>F</ion-label></ion-item-divider>
    <ion-item><ion-label>fuzhihui1</ion-label></ion-item>
    <ion-item><ion-label>fuzhihui2</ion-label></ion-item>
    <ion-item><ion-label>fuzhihui3</ion-label></ion-item>
    <ion-item><ion-label>fuzhihui4</ion-label></ion-item>
    <ion-item-divider color="light"><ion-label>H</ion-label></ion-item-divider>
    <ion-item><ion-label>hebiying1</ion-label></ion-item>
    <ion-item><ion-label>hebiying2</ion-label></ion-item>
    <ion-item><ion-label>hebiying3</ion-label></ion-item>
    <ion-item><ion-label>hebiying4</ion-label></ion-item>
  </ion-item-group>
  <ion-item-sliding>
    <ion-item>
      <ion-label>滑动长条</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">delete</ion-item-option>
    </ion-item-options>
    <ion-item-options side="start">
      <ion-item-option color="warning">favorite</ion-item-option>
      <ion-item-option>share</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
